/* Links go nowhere? */
/* This selector hunts for links that have:
- No href
- an empty href
- a "#" href (button parhaps?) */
/* By Adam Argyle */

a:matches(:not([href]), [href=''], [href='#']) {
  outline: var(--lintError);
  content: "🙀 <a> does not have href, an empty href or a '#' href";
}
