// META
@import 'meta/utf-8.css';

// LINKS
@import 'links/href.css';
@import 'links/unsecure.css';
@import 'links/empty-link.css';

// BUTTONS
@import 'buttons/button-type.css';
@import 'buttons/button-label.css';
@import 'buttons/empty-button.css';

// LISTS
@import 'lists/list-item.css';

// TEXT
@import 'text/empty-headline.css';
@import 'text/headline-order.css';
@import 'text/headline-inside-atag.css';

// INPUTS
@import 'inputs/input-no-label.css';
@import 'inputs/id-for-attr.css';

// MEDIA
@import 'media/img-alt.css';
@import 'media/img-dimensions.css';
@import 'media/img-lazy.css';
@import 'media/svg-focusable.css';
@import 'media/svg-title.css';
@import 'media/video-autoplay.css';

// TABLE
@import 'tables/table-caption.css';

// OTHER
@import 'other/tabindex.css';
@import 'other/iframe-lazy.css';
@import 'other/html-lang.css';
@import 'other/html-lang-dir.css';
@import 'other/details-summary.css';
@import 'other/fieldset-legend.css';
@import 'other/divs-inside-inline.css';
@import 'other/embed-iframe-dimensions.css';
@import 'other/iframe-title.css';

:root {
  --lintWarning: 2px dotted orange;
  --lintError: 2px dashed red;
}

body.nice-html-with-css {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
